* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: #019688;
}

.card {
    display: flex;
    position: relative;

    max-width: 700px;

    background-color: white;
}



.user_image {
    width: 250px;
    height: 250px;
    background: #609D9E;
    clip-path: polygon(0 0, 35% 0, 100% 100%, 0% 100%);
}

.user_photo {
    position: absolute;
    top: 0;

    margin: 20px;

    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;

    border-radius: 50%;
}

.user_info p {
    text-align: center;
}

.user_info * {
    margin: 20px;
}

.user_psevdo {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    color: #609D9E;
}

@media screen and (max-width:600px) {
    .card{
        flex-direction: column;
        max-width: 400px;
    }

}